<div class="fon">
  <img
    width="100%"
    height="auto"
    src="https://i.postimg.cc/wjHb40zc/fon2.png"
  />
  <div class="text_content">
    <h1>Фильмы и сериалы по подписке Минус</h1>
    <p class="sale_content">0 ₽ до конца года</p>
    <p class="cancel_content">
      Отменяйте в любой момент, напишем за 3 дня до первого списания
    </p>
    <button class="button_buy">Попробовать за 0р до конца года</button>
  </div>
</div>

<div class="main">
  <h1>Всегда есть что посмотреть</h1>
  <h4>
    Новые серии в день выхода и тысячи фильмов на вечер. Без рекламы, в хорошем
    качестве, с любимой озвучкой или в оригинале.
  </h4>
  <div id="thumbnail-slider" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li *ngFor="let url of filmUrls" class="splide__slide">
          <img [src]="url" />
        </li>
      </ul>
    </div>
  </div>
  <div class="priem">
    <img
      width="100%"
      height="100%"
      class="imgDescript"
      src="https://avatars.mds.yandex.net/get-ott/2385704/2a00000175ae45792e618fd3eca29c461d88/2016x1134"
    />
    <div class="priemVozm">
      <h2>Минус</h2>

      <p class="sale">0 ₽ до конца года</p>
      <h3>Далее 199р в месяц</h3>
      <button class="button_buy2">Оформить подписку</button>
      <div id="thumbnail-slider" class="splides">
        <div class="splide__track">
          <ul class="splide__list">
            <li *ngFor="let urlS of serialUrls" class="splide__slide">
              <img [src]="urlS" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button
            mat-mini-fab
            color="accent"
            aria-label="Example icon button with a plus one icon"
            (click)="openDialog()"
          >
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <ol>
  <li>
    <mat-form-field appearance="fill">
      <mat-label>What's your name?</mat-label>
      <input matInput [(ngModel)]="name" />
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{ animal }}</i>
  </li>
</ol> -->
