<div class="fon">
  <img
    width="100%"
    height="auto"
    src="https://i.postimg.cc/wjHb40zc/fon2.png"
  />
  <div class="text_content">
    <h1>Фильмы и сериалы по подписке Минус</h1>
    <p class="sale_content">0 ₽ до конца года</p>
    <p class="cancel_content">
      Отменяйте в любой момент, напишем за 3 дня до первого списания
    </p>
    <button class="button_buy">Попробовать за 0р до конца года</button>
  </div>
</div>

<div class="main">
  <h1>Всегда есть что посмотреть</h1>
  <h4>
    Новые серии в день выхода и тысячи фильмов на вечер. Без рекламы, в хорошем
    качестве, с любимой озвучкой или в оригинале.
  </h4>
  <div id="thumbnail-slider" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li *ngFor="let url of filmUrls" class="splide__slide">
          <img [src]="url" />
        </li>
      </ul>
    </div>
  </div>
  <div class="priem">
    <img
      width="100%"
      height="100%"
      class="imgDescript"
      src="https://avatars.mds.yandex.net/get-ott/2385704/2a00000175ae45792e618fd3eca29c461d88/2016x1134"
    />
    <div class="priemVozm">
      <h2>Минус</h2>

      <p class="sale">0 ₽ до конца года</p>
      <h3>Далее 199р в месяц</h3>
      <button class="button_buy2">Оформить подписку</button>
      <div id="thumbnail-slider" class="splides">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <img
                src="https://avatars.mds.yandex.net/get-ott/223007/2a0000016e2648ee652a7f54829e6a2e55d7/375x234"
              />
              <img
                src="https://avatars.mds.yandex.net/get-ott/2385704/2a00000171f4c1c540a32e270aeb7a7c50da/640x360"
              />
              <img
                src="https://avatars.mds.yandex.net/get-ott/2419418/2a00000173c90a1639611740db1278248241/375x234"
              />
              <img
                src="https://avatars.mds.yandex.net/get-ott/1648503/2a0000017b11ca4acf7294eb5660a30299b9/375x234"
              />
              <img
                src="https://avatars.mds.yandex.net/get-ott/2419418/2a00000172283ab9b761f5f2dbaa922a9b04/375x234"
              />
            </li>
            <li class="splide__slide">
              <img
                src="https://avatars.mds.yandex.net/get-ott/223007/2a000001720d0a07780a0365dd211075c545/375x234"
              />
              <img
                src="https://avatars.mds.yandex.net/get-ott/2385704/2a000001732e46963ea1757e9d053be66905/640x360"
              />
              <img
                src="https://avatars.mds.yandex.net/get-ott/2419418/2a000001732e3433c95717376196747657b6/640x360"
              />
              <img
                src="https://avatars.mds.yandex.net/get-ott/1672343/2a00000176aae933898aa9562ddb3422f37b/375x234"
              />
              <img
                src="https://avatars.mds.yandex.net/get-ott/212840/2a00000171a63e09e4489969ce4c31eb8b1a/375x234"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button
            mat-mini-fab
            color="accent"
            aria-label="Example icon button with a plus one icon"
            (click)="onAddFilmClick()"
          >
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
