<div class="fon">
  <img
    width="100%"
    height="auto"
    src="https://i.postimg.cc/wjHb40zc/fon2.png"
  />
  <div class="text_content">
    <h1>Фильмы и сериалы по подписке Минус</h1>
    <p class="sale_content">0 ₽ до конца года</p>
    <p class="cancel_content">
      Отменяйте в любой момент, напишем за 3 дня до первого списания
    </p>
    <button class="button_buy">Попробовать за 0р до конца года</button>
  </div>
</div>

<div class="main">
  <h1>Всегда есть что посмотреть</h1>
  <p>
    Новые серии в день выхода и тысячи фильмов на вечер. Без рекламы, в хорошем
    качестве, с любимой озвучкой или в оригинале.
  </p>
  <div id="thumbnail-slider" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
        </li>
        <li class="splide__slide">
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
        </li>
        <li class="splide__slide">
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
          <img [src]="imgUrl" />
        </li>
      </ul>
    </div>
  </div>
</div>
