.column-otz {
  width: 30%;
  align-items: center;
  text-align: center;
  margin: 30px 30px;
  display: inline-table;
  justify-content: center;
  color: white;
  font-size: 17px;
}
.column-otz h3 {
  margin-bottom: -10px;
}
.example-flex-container {
  margin-left: 80%;
}
