<div class="fon-landing">
  <img width="100%" height="100%" [src]="imgUrl" />
  <div class="text_content">
    <img width="70%" height="70%" class="imgDjoker" [src]="imgDjo" />
    <p class="textDjo">
      Как неудачливый комик стал самым опасным человеком в Готэме. Бенефис
      Хоакина Феникса и «Оскар» за саундтрек
    </p>
    <p class="price">от 199р</p>
    <button class="example-button-row" mat-button color="primary">
      Купить и смотреть
    </button>
  </div>
</div>
<mat-tab-group class="color-tab" animationDuration="2000ms">
  <mat-tab label="Популярные фильмы">
    <h2 style="color: rgb(255, 255, 255); text-align: center">
      Популярные фильмы
    </h2>
    <div class="column-otz">
      <h3>Дюна (2021)</h3>
      <div class="example-flex-container">
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <img
        src="https://avatars.mds.yandex.net/get-kinopoisk-image/4303601/9eb762d6-4cdd-464f-9937-aebf30067acc/300x450"
      />

      <p>
        Наследник знаменитого дома Атрейдесов Пол отправляется вместе с семьей
        на одну из самых опасных планет во Вселенной — Арракис. Здесь нет
        ничего, кроме песка, палящего солнца, гигантских чудовищ и основной
        причины межгалактических конфликтов — невероятно ценного ресурса,
        который называется меланж. В результате захвата власти Пол вынужден
        бежать и скрываться, и это становится началом его эпического
        путешествия. Враждебный мир Арракиса приготовил для него множество
        тяжелых испытаний, но только тот, кто готов взглянуть в глаза своему
        страху, достоин стать избранным.
      </p>
    </div>
    <div class="column-otz">
      <h3>Веном 2 (2021)</h3>
      <div class="example-flex-container">
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <img
        src="https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/58a86807-b6e2-45dc-8780-c38f24e6a4ea/300x450"
      />
      <p>
        Более чем через год после тех событий журналист Эдди Брок пытается
        приспособиться к жизни в качестве хозяина инопланетного симбиота Венома,
        который наделяет его сверхчеловеческими способностями. Брок пытается
        возродить свою карьеру и берет интервью у серийного убийцы Клетуса
        Касади, который по воле случая становится хозяином Карнажа и сбегает из
        тюрьмы после неудавшейся казни.
      </p>
    </div>
    <div class="column-otz">
      <h3>Главный герой (2021)</h3>
      <div class="example-flex-container">
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <img
        src="https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/0bbaf4fc-a710-48d0-a2e0-25612b0df8d4/300x450"
      />
      <p>
        У сотрудника крупного банка всё идёт по накатанной, пока однажды он не
        выясняет, что окружающий его мир — это часть огромной видеоигры, а сам
        он в ней — всего лишь второстепенный персонаж. Хватит ли у него духу
        переписать свой код, обратить на себя внимание прекрасной девушки и,
        наконец, спасти мир? Одним словом, получится ли из него главный герой?
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Популярные Сериалы">
    <h2 style="color: rgb(255, 255, 255); text-align: center">
      Популярные сериалы
    </h2>
    <div class="column-otz">
      <h3>Игра в кальмара (сериал 2021)</h3>
      <div class="example-flex-container">
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <img
        src="https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/f485e241-0758-4a9f-a4eb-98e586de8a37/300x450"
      />
      <p>
        Сон Ги-хун уже немолод, разведён, по уши погряз в долгах и сидит на шее
        у старенькой матери. Даже выигранные на скачках деньги в его руках долго
        не задерживаются, и однажды он встречает в метро загадочного незнакомца,
        который сначала предлагает сыграть в детскую игру, а затем вручает
        Ги-хуну немалую сумму и визитку. Но радость мужчины сменятся отчаянием,
        когда он узнаёт, что бывшая жена с новым мужем собираются увезти его
        дочь в Америку. Он звонит по номеру с визитки и становится последним
        участником тайных игр на выживание с призом в 40 миллионов долларов.
        Среди товарищей по несчастью оказываются его друг детства — прогоревший
        финансист, бандит, смертельно больной старик, северокорейская
        перебежчица, иммигрант из Пакистана и многие другие отчаянно нуждающиеся
        в деньгах.
      </p>
    </div>
    <div class="column-otz">
      <h3>Бесстыжие (сериал 2011 – 2021)</h3>
      <div class="example-flex-container">
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <img
        src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/df76fcb4-ba29-4639-ba82-d096c91cca4a/300x450"
      />
      <p>
        О взбалмошной многодетной семье Галлагеров и их соседях, которые
        веселятся, попадают в самые невероятные ситуации и пытаются выжить в
        этом мире всеми возможными средствами, но при этом как можно меньше
        работая.
      </p>
    </div>
    <div class="column-otz">
      <h3>Рик и Морти (сериал 2013 – ...)</h3>
      <div class="example-flex-container">
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <img
        src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/d26765de-72ed-43ba-909c-aacace6d6da1/300x450"
      />
      <p>
        В центре сюжета - школьник по имени Морти и его дедушка Рик. Морти -
        самый обычный мальчик, который ничем не отличается от своих сверстников.
        А вот его дедуля занимается необычными научными исследованиями и
        зачастую полностью неадекватен. Он может в любое время дня и ночи
        схватить внука и отправиться вместе с ним в безумные приключения с
        помощью построенной из разного хлама летающей тарелки, которая способна
        перемещаться сквозь межпространственный тоннель. Каждый раз эта парочка
        оказывается в самых неожиданных местах и самых нелепых ситуациях.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Новинки">
    <h2 style="color: rgb(255, 255, 255); text-align: center">Новинки</h2>
    <div class="column-otz">
      <h3>Контакт (сериал 2021 – ...)</h3>
      <div class="example-flex-container">
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <img
        src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/518d3f71-e32c-408c-adaf-295c2be5694c/300x450"
      />
      <p>
        От бывшего опера Глеба Барнашова ушла жена. Личную драму он гасит
        алкоголем, и за это его выкинули из убойки в отдел по делам
        несовершеннолетних. И это для Барнашова кромешный ад: он абсолютно не
        понимает современных детей, а особенно — свою дочь Юльку. Из всех
        трудных подростков для него она — самый трудный. Он считает, что сможет
        наладить контакт и узнать, чем живет дочь — если подружится с ней в
        соцсетях. Но у Юльки отец во всех черных списках, надежды выйти из бана
        — ноль. Тогда Барнашов берет за шкирку провинившегося подростка и дает
        ему выбор. Ответить за преступление или добавиться в друзья к дочери и
        отдать полицейскому свои логин и пароль, чтобы он мог хоть как-то
        контролировать свою дочь.
      </p>
    </div>
    <div class="column-otz">
      <h3>Семейка Аддамс: Горящий тур (2021)</h3>
      <div class="example-flex-container">
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <img
        src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/a7ffd20e-d7d2-4475-8b14-437ebee1f5b3/300x450"
      />
      <p>
        Что делать, если в доме поселилось настоящее исчадие ада, а именно два
        подростка? Срочно планировать самый жуткий отпуск! Мартиша, Гомес,
        Уэнсдей, Пагсли и дядя Фестер загружаются в семейный походный катафалк,
        чтобы отправиться навстречу новым приключениям и чудаковатым друзьям, от
        которых волосы встанут дыбом. В этой поездке семейка Аддамс сплотится
        намертво! Если, конечно, останутся выжившие…
      </p>
    </div>
    <div class="column-otz">
      <h3>Клаустрофобы 2: Лига выживших (2021)</h3>
      <div class="example-flex-container">
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <img
        src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/6fc4fb3b-1ef5-4a71-96ec-235a3492460d/300x450"
      />
      <p>
        Зои и Бэн пытаются найти тех, кто заставил их принять участие в том
        садистском испытании, но вместе с другими четырьмя победителями
        смертельно опасных квестов вновь оказываются в игре. Прежние задания
        покажутся им сущими пустяками по сравнению с тем, что их поджидает на
        этот раз: игра стала еще опаснее и безжалостнее, а шансы на выживание
        стремятся к нулю.
      </p>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="content" role="main">
  <h2>Кинокритик</h2>
  <p>Чем ты хочешь поделиться?</p>

  <input type="hidden" #selection />

  <div class="card-container">
    <button
      class="card card-small"
      (click)="selection.value = 'component'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Новый фильм</span>
    </button>

    <button
      class="card card-small"
      (click)="selection.value = 'material'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Новый сериал</span>
    </button>

    <button
      class="card card-small"
      (click)="selection.value = 'pwa'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Самые популярные фильмы</span>
    </button>

    <button
      class="card card-small"
      (click)="selection.value = 'dependency'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Самые популярные сериалы</span>
    </button>

    <button
      class="card card-small"
      (click)="selection.value = 'test'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Что не стоит смотреть</span>
    </button>

    <button
      class="card card-small"
      (click)="selection.value = 'build'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Обсуждение</span>
    </button>
  </div>

  <div class="terminal" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>что-то написано про фильм</pre>
    <pre *ngSwitchCase="'material'">что-то написано про сериал</pre>
    <pre *ngSwitchCase="'pwa'">что-то написано про фильм</pre>
    <pre *ngSwitchCase="'dependency'">что-то написано про сериал</pre>
    <pre *ngSwitchCase="'test'">что-то написано про отстой</pre>
    <pre *ngSwitchCase="'build'">что-то написано про Обсуждение</pre>
    <input placeholder="Пиши сюда, вонючка!" [value]="name" />
    <button (click)="addInput(name)">Отправить</button>
  </div>
</div>

<footer>
  <div style="padding-bottom: 72px">
    <img
      src="https://tproger.ru/s3/uploads/2021/04/dzhun-ijun-2x-330x326.png"
      style="margin-right: 0px; margin-left: 10px; width: 200px; height: 200px"
    />
  </div>
</footer>

<svg
  id="clouds"
  xmlns="http://www.w3.org/2000/svg"
  width="2611.084"
  height="485.677"
  viewBox="0 0 2611.084 485.677"
>
  <title>Gray Clouds Background</title>
  <path
    id="Path_39"
    data-name="Path 39"
    d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
    transform="translate(142.69 -634.312)"
    fill="#eee"
  />
</svg>
