<div class="fon-landing">
  <img width="100%" height="100%" [src]="imgUrl" />
  <div class="text_content">
    <img width="70%" height="70%" class="imgDjoker" [src]="imgDjo" />
    <p class="textDjo">
      Как неудачливый комик стал самым опасным человеком в Готэме. Бенефис
      Хоакина Феникса и «Оскар» за саундтрек
    </p>
    <p class="price">от 199р</p>
    <button class="example-button-row" mat-button color="primary">
      Купить и смотреть
    </button>
  </div>
</div>
<mat-tab-group class="color-tab" animationDuration="2000ms">
  <mat-tab label="Популярные фильмы">
    <h2 class="title-group">Популярные фильмы</h2>
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </mat-tab>
  <mat-tab label="Популярные Сериалы">
    <h2 class="title-group">Популярные сериалы</h2>
    <app-post *ngFor="let serial of serials" [post]="serial"></app-post>
  </mat-tab>
  <mat-tab label="Новинки">
    <h2 class="title-group">Новинки</h2>
    <app-post *ngFor="let novelt of novelty" [post]="novelt"></app-post>
  </mat-tab>
</mat-tab-group>
<!--
<div class="content" role="main">
  <h2>Кинокритик</h2>
  <p>Чем ты хочешь поделиться?</p>

  <input type="hidden" #selection />

  <div class="card-container">
    <button
      class="card card-small"
      (click)="selection.value = 'component'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Новый фильм</span>
    </button>

    <button
      class="card card-small"
      (click)="selection.value = 'material'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Новый сериал</span>
    </button>

    <button
      class="card card-small"
      (click)="selection.value = 'pwa'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Самые популярные фильмы</span>
    </button>

    <button
      class="card card-small"
      (click)="selection.value = 'dependency'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Самые популярные сериалы</span>
    </button>

    <button
      class="card card-small"
      (click)="selection.value = 'test'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Что не стоит смотреть</span>
    </button>

    <button
      class="card card-small"
      (click)="selection.value = 'build'"
      tabindex="0"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>Обсуждение</span>
    </button>
  </div>

  <div class="terminal" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>что-то написано про фильм</pre>
    <pre *ngSwitchCase="'material'">что-то написано про сериал</pre>
    <pre *ngSwitchCase="'pwa'">что-то написано про фильм</pre>
    <pre *ngSwitchCase="'dependency'">что-то написано про сериал</pre>
    <pre *ngSwitchCase="'test'">что-то написано про отстой</pre>
    <pre *ngSwitchCase="'build'">что-то написано про Обсуждение</pre>
    <input placeholder="Пиши сюда, вонючка!" [value]="name" />
    <button (click)="addInput(name)">Отправить</button>
  </div>
</div>

<footer>
  <div style="padding-bottom: 72px">
    <img
      src="https://tproger.ru/s3/uploads/2021/04/dzhun-ijun-2x-330x326.png"
      style="margin-right: 0px; margin-left: 10px; width: 200px; height: 200px"
    />
  </div>
</footer> -->
